article{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 2px solid black;
    gap: 3px;
    padding: 3px;
}

article>div{
    border: 1px solid black;
    padding: 2px;
}


.id, .name, .timestamp{
   font-weight: bold;
}

.id{
   color: white;
}

.name{
    grid-column: 2 / 4;

}

.timestamp{
    text-align: right;
}

.address{
   grid-row: 2 / 4;
   grid-column: 1 / 3;
}

.number, .passport{
   grid-column: 3 / -1;
}

.product{
    grid-column: 1 / 2;
    text-align: center;
}


.items{
   grid-column: 2 / 4;
}

.items span{
    float: right;
}

.total{
    grid-column: 4 / 5;
    grid-row-start: 4;
    text-align: center;
}

nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

nav>*{
   margin: 0 auto;
}