html {
	height: 100%;
	background: linear-gradient(#D8DDFF, #E8EAF6, #D8DDFF);
}

body {
	display: grid;
	grid-gap: 20px;
	max-width: 900px;
	margin: auto;
	padding: 1% 2% 1% 2%;
	background: linear-gradient(#f5f2f7 35%, #fff 65%) no-repeat;
	font-family: monospace;
	font-size: 130%;

}

header, footer {
	grid-column: 1 / -1;
}

header {
	border-bottom: 1px solid black;
	padding-bottom: 10px;
}

footer {
	border-top: 1px solid black;
	text-align: left;
}

footer a:not(article a:hover){
	text-decoration: none;
	color: black;
}

.button{
	border:0;
	background-color: #9d93dd;
	color: white;
	border-radius: 3px;
	padding: 0.5em;
}

.submit{
	border:0;
	background-color: #4CAF50;
	color: white;
	border-radius: 3px;
	padding: 0.5em;
}

fieldset{
	border: 2px dashed pink;
}


