<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
		<!-- Yandex.Metrika counter -->
		<script type="text/javascript" >
		   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
		   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
		   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

		   ym(86383340, "init", {
				clickmap:true,
				trackLinks:true,
				accurateTrackBounce:true,
				webvisor:true,
				ecommerce:"dataLayer"
		   });
		</script>
		<noscript><div><img src="https://mc.yandex.ru/watch/86383340" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
		<!-- /Yandex.Metrika counter -->
		{% block head %}{% endblock %}
	</head>
	<body>
		<header>
			<a href="/"><img align="left" width="200px" src="{{ url_for('static', filename='pics/logo.svg') }}"/></a>
			<a href="https://t.me/dmkitsupport"><img align="right" width="40px" src="{{ url_for('static', filename='pics/telegram.png') }}"/></a>
			<a href="https://vk.com/dmkit_tuning"><img align="right" width="40px" src="{{ url_for('static', filename='pics/vk.png') }}"/></a>
		</header>

		{% block body %}{% endblock %}

		<footer>
			<p><a href="/delivery">Доставка</a></p>
			{% block footer %}{% endblock %}
		</footer>
	</body>
</html>
