{% extends "base.html" %}

{% block head %}
<title>Доставка</title>
{% endblock %}

{% block body %}
<h2>Условия доставки и получения</h2>
<p>Есть несколько вариантов доставки:</p>
🚛 ТРАНСПОРТНАЯ КОМПАНИЯ
<ul>
    <li>Срок доставки по РФ 4-10 дней.</li>
    <li>Сумму доставки Вы можете рассчитать на сайте транспортной компании.</li>
    <li>Доставка оплачивается при получении.</li>
</ul>
✉ ПОЧТА РОССИИ.
<ul>
    <li>Срок доставки по РФ 2-10 дней.</li>
    <li>Сумму доставки рассчитает продавец.</li>
    <li>Доставка оплачивается при получении, либо сразу вместе с заказом.</li>
</ul>
💬 САМОВЫВОЗ. Предварительно согласовать время приезда и наличия товара на складе.
<p>Доставка производится по России и в Казахстан.</p>
{% endblock %}